body {
  height: 100vh;
  font-family: Protest Guerrilla;

}

h1 {
  text-align: center;
  color: rgb(43, 112, 172);
  margin-top: 40px;
  margin-bottom: 40px;
}

.logo {
  color: rgb(238, 123, 0);
  width: 7vw;
  object-fit: cover;
}

.nav {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo-link {
  width: 7vw;

}



.noStyle:hover {
  color: rgb(219, 109, 30);
}

.button-container {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
}

#profile {
  display: flex;
  justify-content: flex-end;
  
}

.footer {
  display: flex;
  justify-content: right;
}


.banner {
  background-image: url('../banner/Maan.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  width: calc(100% - 60px);
  height: 500px;
  position: relative;
  left: 30px; 
  margin-top: 20px;
}

.card-home {
  width: 275px;
  height: 120px;
  border: 1px solid #ccc;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px; 
}

.bg-container {
  padding: 20px;
    background-color: #e5e5e599;
    border-radius: 3%;
}



