body {
  margin: 30px;
  height: 100vh;
  font-family: Protest Guerrilla;
}

h1 {
  text-align: center;
}

.noStyle {
  color: rgb(238, 123, 0);
  margin: 20px;
}

.noStyle:hover {
  color: rgb(219, 109, 30);
}

.button-container {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
}

#profile {
  display: flex;
  justify-content: flex-end;
  
}

.footer {
  display: flex;
  justify-content: right;
}

.banner {
  background-color: red;
  display: flex;
  justify-content: center;
  width: calc(100% - 60px);
  height: 500px;
  position: relative;
  left: 30px; 
  margin-top: 20px;
}
