<h1> Add Profile Info </h1>

<form method="POST" action="/user/add">
<div>
  <label>Name</label>
  <input name="title" type="text" class="form-control" />
</div>

<div>
  <label>Email</label>
  <input name="email" type="text" class="form-control"/>
</div>

<div>
  <label>Username</label>
  <input name="username" type="text" class="form-control"/>
</div>

<div>
  <label>Age</label>
  <input name="age" type="number" class="form-control"/>
</div>

<div>
  <label>Gender</label>
  <input name="gender" type="text" class="form-control"/>
</div>

</br>
<button type="submit" class="btn btn-primary"> Create Profile </button>

</form>