<% if(user && user.role === 'user') { %>
  <h1>Welcome <%= user.name %> To Our Triathlon Tracking App</h1>
<% } else { %> 
  <h1>Sign in now to unlock your personalized triathlon journey and track your progress like never before!</h1> 
<% } %>
