<h1>Your Training Plans</h1>

<table class="table table-striped font">
  <tr>
    <th>Plan Title</th>
    <th>Description</th>
    <th>Exercises</th>

  </tr>
  <% plans.forEach(function(plan) { %>
    <tr>
      <td>

          <%= plan.title %>

      </td>
      <td><%= plan.description %></td>
      <td>
        <ul style="list-style-type: none; padding: 0;">
          <% plan.exercises.forEach(function(exercise) { %>
            <li><%= exercise.name %></li>
          <% }) %>
        </ul>
      </td>
    </tr>
  <% }) %>
</table>

<% if (plans.length === 0) { %>
  <p>You have no training plans yet.</p>
<% } %>
