<h1>Edit Exercise </h1>

<form method="POST" action="/exercise/update">
  <div>
    <label>Name</label>
    <input name="name" type="text" value="<%= exercise.name %>" />
  </div>

  <div>
    <label>Description</label>
    <input name="description" type="text" value="<%= exercise.description %>" />
  </div>

  <div>
    <label>Duration</label>
    <input name="duration" type="text" value="<%= exercise.duration %>" />
  </div>

  <input type="hidden" name="id" value="<%= exercise._id %>" />

  <button type="submit">Update Exercise</button>

</form>