<h1>Add Exercise</h1>

<form action="/exercise/add" method="post">
  <div>
    <label>Name</label>
    <input type="text" name="name" class="form-control">
  </div>
  <br>

  <div>
    <label>Description</label>
    <input type="text" name="description" class="form-control">
  </div>
  <br>

  <div>
    <label>Difficulty Level</label>
    <input type="text" name="difficulty_level" class="form-control">
  </div>
  <br>

  <div>
    <label>Duration</label>
    <input type="text" name="duration" class="form-control">
  </div>
  <br>

  <button type="submit" class="btn btn-primary">Create Exercise</button>
</form>