<h1>Add Exercise</h1>

<form action="/exercise/add" method="post">
  <form action="/exercise/add" method="post">
    <div>
      <label>Name</label>
      <select name="name" class="form-control">
        <option value="Swim">Swim</option>
        <option value="Running">Running</option>
        <option value="Biking">Biking</option>
      </select>
    </div>
    <br>
  
    <div>
      <label>Description</label>
      <input type="text" name="description" class="form-control">
    </div>
    <br>
  
    <div>
      <label>Difficulty Level</label>
      <select name="difficulty_level" class="form-control">
        <option value="Easy">Easy</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Difficult">Difficult</option>
      </select>
    </div>
    <br>
  
    <div>
      <label>Duration (minutes)</label>
      <input type="number" name="duration" class="form-control" min="1" max="500">
    </div>
    <br>
  
    <button type="submit" class="btn btn-primary">Create Exercise</button>
</form>